.assignmentHeaderDiv {
	border-bottom: 1px solid #B4B4B4;
	margin-bottom: 4%;
	width: inherit;
}	

.assignmentHistoryTableHeaderText {
    font-size: 18px;
	
	padding-bottom: 1px;
}

.assignmentTableText {
    font-size: 16px;
    line-height: 18.75px;
}

.assignmentTableNurseRows:hover {
	background-color: rgba(220, 225, 226, 0.5);
}

#rowsOfNurses {
    height: 250px;
    overflow-y: scroll;
	overflow-x: hidden;
	margin-top: -2%;
}
/* */
/* width */
#rowsOfNurses::-webkit-scrollbar {
	width: 0px;
}


.assignmentTableImage {
	width: 39px;
	height: 39px;
	border-radius: 50px;
	margin-right: 5%;
}
/**/
