.mainFooter {
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background-color: #f8f8f8;
}

.footerItem {
	display: inline;
}

#designedText {
	padding-left: 2%;
}

#emailLink {
	padding-left: 1%;
}
